.Card {
    display: flex;
    align-items: center;

    gap: 1rem;
    padding: 1rem;

    min-width: fit-content;
    min-height: fit-content;
}

.DataCard {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;
    flex-grow: 1;

    gap: 1rem;
    padding: 1rem;

    min-width: fit-content;
    min-height: fit-content;
}

.ChartCard {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;
    flex-grow: 1;

    gap: 1rem;
    padding: 0.5rem;
    height: 300px;

    min-width: fit-content;
    min-height: fit-content;
}

@media (min-width: 0px) and (max-width: 700px) {
    .ChartCard {
        width: 90vh;
    }
}

@media (min-width: 701px) {
    .ChartCard {
        width: 700px;
    }
}

.Popup {
    display: flex;

    flex-direction: column;
    flex-grow: 1;

    gap: 1.2rem;
    padding: 1.5rem;

    min-width: fit-content;
    max-width: 95%;
}